@font-face {
    font-family: 'Minecraft';
    src: url('../fontes/Minecrafter.Alt.ttf') format('truetype');
}

button{
    background-color: blueviolet ;
    font-family: 'minecraft', sans-serif;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    -moz-user-select: none;
    user-select: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    margin-top: 2em;
    transition: 1s;
    margin-bottom: 4em;
    padding: 0.5em;

  }
     
  
  
  button:hover {
    background-color: #198754; }


th, td, label {
    color: rgb(0, 0, 0);
    font-family: 'minecraft', sans-serif;
}

option {
    padding: 10px 20px;
    background-color: #333; /* Cor de fundo inicial */
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

option:hover {
    background-color: #a944ff; 
    color: #fff; 
}

select, input {
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-family: 'minecraft', sans-serif;
}